# URL del backend
# En producción reemplazar por el dominio real del VPS
NEXT_PUBLIC_API_URL=http://localhost:3001
# NEXT_PUBLIC_API_URL=https://api.tudominio.com

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=   # generar con: openssl rand -base64 32

# (Opcional) Si NextAuth necesita hablar directo a la DB para sesiones
# DATABASE_URL="mysql://..."
